name: Docker Image CI

on:
  push:
    tags: [ "v*" ]

env:
  PYTHON_VERSION: '3.12'
  NODE_VERSION: 21.7.3

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install deps
      run: choco install nasm
    - uses: actions/setup-node@v4
      with:
        node-version: 21
    - name: Environment Information
      run: npx envinfo
    - name: Cache nexe prebuild binaries
      uses: actions/cache@v4
      with:
        path: ~/.nexe
        key: windows
    - name: Get version number
      run: |
        $tagName = "${{ github.ref }}".Split("/")[2]
        $tagName = "${{ github.ref }}".Split("/")[2]
        Write-Host $tagName
        $upstreamTagName = $tagName.Split("-")[0]
        Write-Host $upstreamTagName
        Write-Output "TAG_NAME=$tagName" | Out-File -Append -Encoding ascii $env:GITHUB_ENV
        Write-Output "UPSTREAM_TAG_NAME=$upstreamTagName" | Out-File -Append -Encoding ascii $env:GITHUB_ENV
    - name: Checkout upstream
      run: git clone --depth 1 -b ${Env:UPSTREAM_TAG_NAME} https://github.com/devcontainers/cli.git upstream
    - name: Build
      run: .\build_windows_by_nexe.ps1 ${Env:TAG_NAME} ${Env:NODE_VERSION}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: devcontainer-windows
        path: ./dist/devcontainer-windows-x64-${{ env.TAG_NAME }}.exe

  build-linux:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 21
    - name: Cache nexe prebuild binaries
      uses: actions/cache@v4
      with:
        path: ~/.nexe
        key: linux
    - name: Get version number
      run: |
        TAG_NAME=$(echo "${{ github.ref }}" | cut -d '/' -f 3)
        echo $TAG_NAME
        UPSTREAM_TAG_NAME=$(echo ${TAG_NAME} | cut -d '-' -f 1)
        echo $UPSTREAM_TAG_NAME
        echo "TAG_NAME=${TAG_NAME}" >> ${GITHUB_ENV}
        echo "UPSTREAM_TAG_NAME=${UPSTREAM_TAG_NAME}" >> ${GITHUB_ENV}
    - name: Checkout upstream
      run: git clone --depth 1 -b ${UPSTREAM_TAG_NAME} https://github.com/devcontainers/cli.git upstream
    - name: Build
      run: bash ./build_linux_by_nexe.bash ${TAG_NAME} ${NODE_VERSION}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: devcontainer-linux
        path: ./dist/devcontainer-linux-x64-${{ env.TAG_NAME }}

  build-darwin:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 21
    - name: Cache nexe prebuild binaries
      uses: actions/cache@v4
      with:
        path: ~/.nexe
        key: darwin
    - name: Get version number
      run: |
        TAG_NAME=$(echo "${{ github.ref }}" | cut -d '/' -f 3)
        echo $TAG_NAME
        UPSTREAM_TAG_NAME=$(echo ${TAG_NAME} | cut -d '-' -f 1)
        echo $UPSTREAM_TAG_NAME
        echo "TAG_NAME=${TAG_NAME}" >> ${GITHUB_ENV}
        echo "UPSTREAM_TAG_NAME=${UPSTREAM_TAG_NAME}" >> ${GITHUB_ENV}
    - name: Checkout upstream
      run: git clone --depth 1 -b ${UPSTREAM_TAG_NAME} https://github.com/devcontainers/cli.git upstream
    - name: Build
      run: bash ./build_darwin_by_nexe.bash ${TAG_NAME} ${NODE_VERSION}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: devcontainer-darwin
        path: ./dist/devcontainer-darwin-x64-${{ env.TAG_NAME }}

  release:
    needs: [build-linux, build-windows, build-darwin]
    runs-on: ubuntu-latest
    steps:
    - name: Download windows artifact
      uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: devcontainer-*
        merge-multiple: true
    - uses: ncipollo/release-action@v1
      with:
        artifacts: dist/*
        allowUpdates: true
        draft: true
